
body{
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", "Arial";
  background: blueviolet;
}
a{
  text-decoration: none;
}

.nav-item a{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #f1f1f1;
}
.navbar{
    position: fixed;
    top: 39px;
    left: 0;
    width: 100%;
    transition: 0.6s;
    z-index: 999;
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-weight: 700;
  letter-spacing: 2px;
} 
.navbar-expand-lg .navbar-nav .nav-link:hover{
 color: #f1f1f1;
}
.navbar-collapse{
 justify-content: space-around;
}

.dropdown-item{
 color: #000!important;
}
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	

@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	



